*{
    margin: 0.5px;
    padding: 0px;
    
}

.navhead {
    background-color: rgb(236, 233, 233);
    height: 150px;
    border: 1px solid rgb(188, 187, 187);
    box-shadow: rgba(0, 0, 0, 0.84) 0px 3px 8px;
}

.navbar{
    font-weight: 5;
    text-align: center;
    font-family: 'Playfair Display', serif;
    padding-top: 20px;
}

#searchbox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

input[type=text]{
    border-radius: 40px;
    height: 35px;
    width: 250px;
    border: 1px solid white;
    padding-left: 10px;
    transition: 3s;
    border: 3px solid #ccc;
    transition: 0.5s;
    outline: none;
}

span{
    margin-left: -32px;
    height: 35px;
    width: 25px;
    background-color:  rgb(236, 233, 233);
    border-radius: 50%;
}

#btn1{
    margin-left: -30px;
    border-radius: 50px;
    height: 33px;
    width: 65px;
    background-color: rgb(151, 229, 235);
    border: 1px solid white;
    border: 1px solid rgb(16, 108, 45);
}

#btn1:hover{
    background-color: rgb(245, 208, 203);
    color: black;
    border: 1px solid red;
}